In [10]:
import pandas as pd 
import numpy as np 
import sklearn as sk
import plotly.express as px
import os
import pyodbc

from scipy import stats 
from scipy.stats import boxcox 
from scipy.stats import boxcox

In [9]:
#os.chdir('C:\\Users\\miyuf\\Desktop')
#print(os.getcwd())

conn_hobi = pyodbc.connect('Driver={SQL Server Native Client 11.0};'
                    'Server=HOBISQL01\BISQLDEV01;'
                    'Database=EDW;'
                    'Trusted_Connection=yes;')

conn_cm = pyodbc.connect('Driver={SQL Server};'
                    'Server=cmdataanalysis;'
                    'Database=analytics2;'
                    'Trusted_Connection=yes;'
                    'UID={MECNET\miyuf};'
                    'PWD={mountain6}')

sql_sample = '''select * analytics2.dbo.temp_member_past_lifecyclevolumes 
where dimmember_sk = 301351

'''
df_test = pd.read_sql(sql_sample, conn_hobi)